.head {
    text-align: center;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: rgb(64,1,64);
    margin-left: 183.5px;
    margin-right: 183.5px;
    position: relative; 
}


