.list {
    
    padding: 20px 0px 60px;
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    gap: 1em;
    background-color: white;
}

.product {
    width: 290px;
    height: auto;
}
.product_name {
    color:rgb(64, 1, 64);
    margin: 0;
    white-space: nowrap;
}
.img_product{
    text-align: center;
    width: 250px;
    height: 250px;
}

.rating-read{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviews {
    font-size: 18px;
}
.main_button{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.price{
    margin-bottom: 10px;
    color:rgb(255, 80, 101);
    font-size: 25px;

}
.price:after {
    content: ' \20BD'
}

.cardContent{
    font-family: YS Text, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:darkgrey;
}

.rating-value{
    color: #faaf00;
}
.logo{
    text-align: justify;
    float:right;
}