.list {
    
    padding: 40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    gap: 1em;
    background-color: white;
}

h1 {
    text-align: center;
    white-space: nowrap;
}
.description {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:grey;
    text-align: left;
    justify-content: start;
    font-size:small;
    padding-bottom: auto;
}
.product {
    width: 290px;
    height: auto;
}
.product_name {
    color:black;
    text-align: center;
    white-space: nowrap;
}
.img_product{
    text-align: center;
    width: 250px;
    height: 250px;
}

.rating-read{
    display: flex;
    align-items: center;
    gap: 10px;
}
.reviews {
    font-size: 20px;
}
.main_button{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.price{
    color:rgb(255, 80, 101);
    font-size: 25px;
}
.price:after {
    content: ' \20BD'
}

.cardContent{
    font-family:'Euphemia'
}