.productPage {
    display: flex; 
    height: 800px; 
    width: 100%; 
}

.carousel, .productCard {
    flex: 0 0 50%; /* Каждому элементу отдаем 50% ширины */
    height: 700px; 
    display: flex;
    margin-top: 50px;
}


.productCard {
    display: flex; 
    flex-direction: column; /* Располагаем элементы вертикально */
}

.prAbout {
    margin-bottom: auto; 
    margin-top: 20px;
}

.prPrice{
    height: 30;
    margin-top: auto; 
}
.buttonContainer {
    margin-top: auto;
    display: flex;
    gap: 10px;
    
}

.buttoncart, .buttonbuy {
    width: 100%; 
    transition: background-color 0.3s;
}

.buttoncart {
    background-color: rgb(192, 254, 254) !important; 
    color: black !important; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer; 
}

.buttonbuy {
    background-color: rgb(255, 80, 101) !important; 
    color: black !important; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}

.buttoncart:hover {
    background-color: rgba(192, 254, 254, 0.8); 
}

.buttonbuy:hover {
    background-color: rgba(255, 80, 101, 0.8); 
}