.productPage {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    margin-left: 183.5px;
    margin-right: 183.5px;
    gap: 20px; 
}

.carousel, .productCard {
    height: 700px; 
    display: flex;
    flex: 1; 
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%; 
    box-sizing: border-box; 
}

.productCard {
    display: flex; 
    flex-direction: column; 
}
.product_name {
    font-weight: bold; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    white-space: normal; 

}
.prAbout {
    margin-bottom: auto; 
}

.buttonContainer {
    margin-top: auto;
    display: flex;
    gap: 10px;
    
}

.buttoncart, .buttonbuy {
    width: 100%; 
    transition: background-color 0.3s;
}

.buttoncart {
    background-color: rgb(192, 254, 254) !important; 
    color: black !important; 
    border: none; 
    padding: 10px 20px;
    cursor: pointer; 
}

.buttonbuy {
    background-color: rgb(255, 80, 101) !important; 
    color: black !important; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
}

.buttoncart:hover {
    background-color: rgba(192, 254, 254, 0.8); 
}

.buttonbuy:hover {
    background-color: rgba(255, 80, 101, 0.8); 
}

.rating-value{
    color: #2f2e2e;
    font-size: 20px;
}

.star-icon{
    color: #faaf00;
}

.reviews{
    color:darkgrey;
}

.product_name , .prPrice , .prAbout, .reviews, .rating-value {
    font-family: YS Text, Helvetica, Arial, sans-serif;
}

.prPrice{
    color: rgb(255, 80, 101);
}
.prPrice:after {
    content: ' \20BD'
}

.description{
    padding-left: 0%;
    color: darkgray;
    font-size: 16px; 
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    white-space: normal;

}

.about{
    font-size: 20px;
    padding-left: 0%;
}