<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
=======
/*styles for all app*/
body {
    margin: 0px;
    padding: 0px;
>>>>>>> 1ed0d05f113c90ea02a6f2655fa1e069cc05a205
}
a{
    text-decoration: none;
}
#root{
    padding: 0;
}
html, body, #root{
    width: 100%;
    height: 100%;
}
input{
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}